<div class="col-md-12">

    <div class="container-fluid bg-light text-darck p-5 text-center mt-5">
        <div class="container bg-light p-5">
            <h1 class="display-4">Bienvenido al foro de programación</h1>
            <hr>
            <p>Pon tus dudas y ayuda a tus compañeros desarrolladores</p>
            <a href="#" class="btn btn-primary btn-lg m-2">
                Ver temas
            </a>
            <a href="#" class="btn btn-success btn-lg m-2">
                Ver tcompañeros
            </a>
            <a href="#" class="btn btn-warning btn-lg m-2">
                Añadir nuevo tema
            </a>
        </div>
    </div>
</div>