<div class="col-lg-12">
    <h3>{{page_title}}</h3>
    <hr>

    <table *ngIf="topics" class="table table-hover">
        <thead class="thead-default">
            <tr>
                <th>Titulo</th>
                <th>Fecha</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody *ngFor="let topic of topics">
            <tr>
                <td>{{ topic.title}}</td>
                <td>{{ topic.date | date:'yyyy-MM-dd HH:mm:ss' }}</td>
                <td>
                    <a href="" class="btn btn-sm btn-warning m-1">Editar</a>

                    <a href="" class="btn btn-sm btn-danger m-1">Borrar</a>
                </td>
            </tr>
        </tbody>

    </table>

</div>